/* @import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Source+Sans+Pro:wght@600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
}

body {
  background-color: #fdfbf7;
  font-family: "Quicksand", sans-serif !important;
  color: #111827;
}

.tox-tinymce {
  background-color: #fff !important;
  border: 2px solid #111827 !important;
  box-shadow: 4px 4px 0px rgba(17,24,39,1) !important;
  border-radius: 8px;
  overflow: hidden;
  color: #111827;
}

.tox .tox-toolbar,
.tox .tox-menubar,
.tox .tox-statusbar {
  background-color: #fdfbf7 !important;
  border-bottom: 2px solid #111827 !important;
}

/* Hide scrollbar cross-browser */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.source-sans__pro {
  font-family: "Source Sans Pro", sans-serif;
}

.patrick-hand {
  font-family: "Patrick Hand", cursive;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logo-box {
  box-shadow: 4px 4px 0px rgba(17, 24, 39, 1);
  border: 2px solid #111827;
  border-radius: 8px;
}

.htmlParsed h2,
.htmlParsed h3,
.htmlParsed h4,
.htmlParsed h5,
.htmlParsed h6 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 1.5em;
  font-weight: bold;
  color: #111827;
}

.htmlParsed ul {
  list-style: disc;
  padding-left: 20px;
  color: #111827;
}

.htmlParsed object {
  color: #111827;
}

.highlight.plaintext {
  background-color: #ffe4e6;
  border: 2px solid #111827;
  box-shadow: 4px 4px 0px rgba(17, 24, 39, 1);
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 20px 0;
  border-radius: 10px;
  color: #111827;
}

.htmlParsed {
  word-wrap: break-word !important;
  color: #111827;
}

.htmlParsed img {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 2px solid #111827;
  box-shadow: 4px 4px 0px rgba(17, 24, 39, 1);
}

.htmlParsed code {
  font-size: 14px;
  word-wrap: break-word;
  width: auto;
  padding: 4px 6px;
  color: #111827;
  background-color: #f1f5f9;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .htmlParsed code {
    overflow: scroll;
  }
}
